.stats-page, .hero-main, .display-section{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.716), rgba(0, 0, 0, 0.708)), url(../src/assets/img__1.jpg);
  background-position: center;
  background-size: cover;
}
.display-section{
  max-width: 100%;
  min-height: 100vh;
}
.stats-page{
  width: 100%;
  min-height: 100vh;
}
.hero-main{
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 2rem;
}
nav{
  background: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav h2{
  text-align: center;
  font-size: 2rem;
}
.top-level-head{
  background: transparent;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  animation: scrollLeft 10s ease-in-out infinite;
  color: white;
  font-size: 1.4rem;
  font-family: primaryFont;
}
@keyframes scrollLeft {
  0%{
    transform: translateX(100px);
    opacity: 1;
  }
  /* 50%{
    transform: translateX(0);
  } */
  100%{
    transform: translateX(-100px);
    opacity: 0;
  }
}
.text-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  user-select: none;
}
.img-small{
  width: 200px;
  margin: 2rem;
}
.heading-main{
  font-size: 5.2rem;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 2rem;
  font-family: secFont;
  width: 70%;
  margin: 0 auto;
}
.heading-sub{
  width: 60%;
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
}
p{
  font-size: 1.6rem;
  line-height: 2;
}
@media screen and (max-width: 600px){
  .heading-main{
    font-size: 4.4rem;
    line-height: 1;
  }
  .heading-sub{
    line-height: 1.2;
  }
  .img-box img{
    width: 50px;
  }
}

.line{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(187, 135, 4);
  margin-bottom: 2rem;
}
.flex-r, .flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.flex{
  flex-wrap: wrap;
  gap: 10px;
}
.btn{
  background: linear-gradient(to right, rgb(255, 191, 0), goldenrod);
  color: white;
  width: 15rem;
  padding: 1.2rem 0;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1.8rem;
  /* transition: 0.4s; */
}
.btn:hover{
  transition: all 0.4s;
  border-radius: 10px;
}

nav{
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2rem;
}
.link{
  color: white;
  font-size: 1.6rem;
  font-family: primaryFont;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
}
.link::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  height: 100%;
  background-color: goldenrod;
  width: 0;
  height: 3px;
  border-radius: 3px;
  color: lavender;
  font-size: 3.3rem;
}
.link:hover{
  font-size: 1.4rem;
}
.link:hover::after{
  width: 90%;
  transition: 0.4s;
}
.logo{
  font-size: 2rem;
  font-family: secFont;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.708);
}
.img-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  max-width: 70%;
  margin: 5rem auto;
}
.img-box img{
  width: 80px;
}
.hero-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  background: rgb(5, 5, 5);
}
.search-field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.search-heading{
  margin-top: 2rem;
  font-size: 2.4rem;
  font-family: secFont;
}
.search-field input{
  padding: 1.2rem 3rem;
  border: none;
  border-radius:3px 0 0 3px;
  outline: none;
  font-size: 1.4rem;
  color: black;
  font-family: primaryFont;
}
.search-field input[type = submit]{
  background-color: goldenrod;
  border-radius: 0 3px 3px 0;
  font-family: secFont;
}

.stats-article{
  max-width: 95%;
  margin: 2rem auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation:  animate 1s ease-in;
}
.indent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.stats-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin: auto;
  font-weight: bolder;
  font-size: 1.6rem;
  font-family: secFont;
  border-bottom: 1px solid goldenrod;
}
.stats-header.light{
  margin-top: 2rem;
  font-weight: 500;
  font-family: primaryFont;
  font-size: 1.4rem;
}


/* Loader */

.planet {
  display: block;
  width: 125px;
  height: 125px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #fcc96b;
  background: rgb(252, 201, 107);
  background: linear-gradient(
    180deg,
    rgba(252, 201, 107, 1) 0%,
    rgba(252, 201, 107, 1) 15%,
    rgba(247, 174, 1, 1) 15%,
    rgba(247, 174, 1, 1) 19%,
    rgba(252, 201, 107, 1) 19%,
    rgba(252, 201, 107, 1) 22%,
    rgba(247, 174, 1, 1) 22%,
    rgba(247, 174, 1, 1) 28%,
    rgba(252, 201, 107, 1) 28%,
    rgba(252, 201, 107, 1) 31%,
    rgba(252, 201, 107, 1) 33%,
    rgba(252, 201, 107, 1) 36%,
    rgba(247, 174, 1, 1) 36%,
    rgba(247, 174, 1, 1) 48%,
    rgba(252, 201, 107, 1) 48%,
    rgba(252, 201, 107, 1) 55%,
    rgba(247, 174, 1, 1) 55%,
    rgba(247, 174, 1, 1) 66%,
    rgba(252, 201, 107, 1) 66%,
    rgba(252, 201, 107, 1) 70%,
    rgba(247, 174, 1, 1) 70%,
    rgba(247, 174, 1, 1) 73%,
    rgba(252, 201, 107, 1) 73%,
    rgba(252, 201, 107, 1) 82%,
    rgba(247, 174, 1, 1) 82%,
    rgba(247, 174, 1, 1) 86%,
    rgba(252, 201, 107, 1) 86%
  );
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
    inset 8px -4px 6px rgba(199, 128, 0, 0.5),
    inset -8px 4px 8px rgba(255, 235, 199, 0.5),
    inset 20px -5px 12px #f7ae01,
    0 0 100px rgba(255, 255, 255, 0.35);
  transform: rotateZ(-15deg);
}

.planet::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 16px solid #7b6f42;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #b1a693;
  animation: rings1 0.8s infinite linear;
}

.planet::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 8px solid #b1a693;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #7b6f42;
  animation: rings2 0.8s infinite linear;
}

@keyframes rings1 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
  }
  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
  }
}

@keyframes rings2 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
  }
  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
  }
}
.loader-section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(5, 5, 5);
}
.coin-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 90%;
  margin: 2rem auto;
  height: 50rem;
  animation: animate 1s ease-in;
}
@keyframes animate {
  from{
    opacity: 0;
    scale: 0.99;
  }
  to{
    opacity: 1;
    scale: 1.01;
  }
}
.coin-display > aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.coin-display img{
  height: 100%;
  width: 100%;
}
.image-box{
  width: 20rem;
}
.coin-display article{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.green{
  color: rgb(57, 225, 57);
}
.red{
  color: rgb(230, 66, 66);
}