.hero-main{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.716), rgba(0, 0, 0, 0.708)), url(../src/assets/img__1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 2rem;
}
nav{
  background: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav h2{
  text-align: center;
  font-size: 2rem;
}
.top-level-head{
  background: transparent;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  animation: scrollLeft 10s ease-in-out infinite;
  color: white;
  font-size: 1.4rem;
  font-family: primaryFont;
}
@keyframes scrollLeft {
  0%{
    transform: translateX(100px);
    opacity: 1;
  }
  /* 50%{
    transform: translateX(0);
  } */
  100%{
    transform: translateX(-100px);
    opacity: 0;
  }
}
.text-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
.heading-main{
  font-size: 5.2rem;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 2rem;
  font-family: secFont;
}
.heading-sub{
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
}
@media screen and (max-width: 600px){
  .heading-main{
    font-size: 4.4rem;
    line-height: 1;
  }
  .heading-sub{
    line-height: 1.2;
  }
}

.line{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(187, 135, 4);
  margin-bottom: 2rem;
}
.flex-r, .flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.flex{
  flex-wrap: wrap;
  gap: 10px;
}
.btn{
  background: linear-gradient(rgb(255, 191, 0), goldenrod);
  color: white;
  padding: 1.2rem 2.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 2rem;
  /* transition: 0.4s; */
}
.btn:hover{
  transition: all 0.4s;
  border-radius: 10px;
}
