:root {
  font-family: primaryFont, sans-serif;
  font-size: 62.5%;
  line-height: 24px;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(0, 0, 0, 0.824);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  /* max-width: 100vh; */
}
a{
  color: goldenrod;
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: primaryFont;
  src: url(../src/assets/TCM_____.TTF);
}
@font-face {
  font-family: secFont;
  src: url(../src/assets/TCB_____.TTF);
}
